services:
  frontend:
    build: ../LIVESTREAM-WEB-APP
    image: slytherins/livestream-frontend:latest
    container_name: frontend-app
    restart: unless-stopped
    ports:
      - "3000:80"
    networks:
      - livestream-net
    depends_on:
      - backend
      - nginx
  # ----------------------------------------
  # 1. BACKEND SERVICE (Java Spring Boot)
  # ----------------------------------------
  backend:
    build: . # Build từ Dockerfile trong thư mục gốc
    image: slytherins/livestream-backend:latest # <-- ĐÃ SỬA LỖI
    container_name: backend-service
    restart: unless-stopped
    ports:
      - "8080:8080" # Cổng API của Spring Boot
    depends_on:
      mysql: # Chờ cho đến khi MySQL "healthy" (sẵn sàng)
        condition: service_healthy
      nms: # Chỉ cần NMS "started" (đã khởi động)
        condition: service_started
    networks:
      - livestream-net
    environment:
      # Cấu hình kết nối Database (sử dụng tên service 'mysql')
      SPRING_DATASOURCE_URL: jdbc:mysql://mysql:3306/appdb?useSSL=false
      SPRING_DATASOURCE_USERNAME: root
      SPRING_DATASOURCE_PASSWORD: "Admin123$"

  # ----------------------------------------
  # 2. NODE MEDIA SERVER (NMS)
  # ----------------------------------------
  nms:
    build: ./nms
    image: slytherins/livestream-nms:latest
    container_name: nms
    restart: unless-stopped
    ports:
      - "1935:1935"   # RTMP ingest from OBS
      - "8000:8000"   # direct NMS http (optional)
      - "8001:8001"
    volumes:
      - ./nms/media:/media
    networks:
      - livestream-net

  # ----------------------------------------
  # 3. NGINX PROXY (Reverse Proxy for HLS)
  # ----------------------------------------
  nginx:
    build: ./nginx
    image: slytherins/livestream-nginx:latest
    container_name: nginx-proxy
    restart: unless-stopped
    ports:
      - "80:80" # Cổng truy cập HLS Stream/Frontend
    depends_on:
      - nms
      - backend
    volumes:
      - nginx-cache:/var/cache/nginx
    networks:
      - livestream-net

  # ----------------------------------------
  # 4. MYSQL DATABASE
  # ----------------------------------------
  mysql:
    image: mysql:latest
    container_name: mysql-db
    environment:
      MYSQL_ROOT_PASSWORD: "Admin123$"
      MYSQL_DATABASE: appdb # Đặt tên DB đồng bộ với Spring Boot (appdb)
    ports:
      - "3306:3306"
    volumes:
      - mysql-data:/var/lib/mysql
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql:ro
    healthcheck:
      test: ["CMD-SHELL", "mysqladmin ping -h 127.0.0.1 -uroot -p\"$${MYSQL_ROOT_PASSWORD}\" && mysql -h 127.0.0.1 -uroot -p\"$${MYSQL_ROOT_PASSWORD}\" -e 'USE appdb'"]
      interval: 10s
      retries: 5
      timeout: 5s
      start_period: 30s
    networks:
      - livestream-net

volumes:
  nginx-cache:
  mysql-data:

networks:
  livestream-net:
    driver: bridge